name: Build linux

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # os: [ubuntu-latest, windows-latest, macos-latest]
        os:
        - ubuntu-latest
        build_type:
        - Release

        build_shared:
        - OFF

        include:
        - os: ubuntu-latest
          compiler: gcc-14
          generator: "Ninja Multi-Config"
          preset: "unixlike-gcc-release"
          package: TGZ

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6
      with:
        submodules: 'recursive' # Useful if vcpkg is a submodule

    - name: Setup Cache
      uses: ./.github/actions/setup_cache
      with:
        compiler: ${{ matrix.compiler }}
        build_type: ${{ matrix.build_type }}
        packaging_maintainer_mode: ${{ matrix.packaging_maintainer_mode }}
        generator: ${{ matrix.generator }}

    - name: Setup C++ environment (optional, but helpful for pre-installed tools)
      # This marketplace action can set up compiler, cmake, ninja, and vcpkg
      uses: aminya/setup-cpp@v1
      with:
        compiler: gcc
        cmake: true
        ninja: true
        conan: true
        ccache: true

    - name: Detects and creates the default profile
      run: conan profile detect --force

    - name: Install project dependencies
      run: >
        conan install .
        -s build_type=${{ matrix.build_type }}
        --build=missing

    - name: Configure CMake
      run: >
        cmake -B "${{ github.workspace }}/build"
        -S "${{ github.workspace }}"
        -G "${{ matrix.generator }}"
        -DCMAKE_BUILD_TYPE:STRING=${{ matrix.build_type }}
        -DCMAKE_TOOLCHAIN_FILE="${{ github.workspace }}/build/${{ matrix.build_type }}/generators/conan_toolchain.cmake"
        --preset ${{ matrix.preset }}

    - name: Build project
      run: cmake --build ${{ github.workspace }}/build --config ${{ matrix.build_type }}

    - name: Pack artifacts
      run: >
        cpack -G ${{ matrix.package }}
        -B "${{ github.workspace }}/build/${{ matrix.build_type }}"
        -DCPACK_PACKAGE_FILE_NAME="test-custom-app-${{ github.ref_name }}-${{ matrix.os }}"
        -G TGZ

    # - name: publish
    #   uses: actions/upload-artifact@v6
    #   with:
    #     name: test-${{ matrix.os }}
    #     path: |
    #       ${{ github.workspace }}/build/_CPack_Packages/Linux/TGZ/**/*
    #       ! ${{ github.workspace }}/build/_CPack_Packages/Linux/TGZ/*.tar.gz
