name: Test

on:
  pull_request:
  release:
    types: [ published ]
  push:
    branches: [ main, develop, master ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}

    permissions:
      actions: read
      contents: read
      security-events: write

    strategy:
      # fail-fast: false

      matrix:
        os:
          - ubuntu-latest
          - windows-latest

        compiler:
          - llvm-19.1.1
          - gcc-14

        generator:
          - "Ninja Multi-Config"

        build_type:
          - Release
          - Debug

        build_shared:
          - OFF

        exclude:
          - os: windows-latest
            compiler: gcc-14

        preset:
          - conf-common

        include:
          # Inject GCOV variable for gcc
          - compiler: gcc-14
            GCOV: gcov-14
            enable_ipo: On

          # Inject GCOV variable for llvm
          - compiler: llvm-19.1.1
            LINKER: lld
            GCOV: "llvm-cov gcov"
            enable_ipo: On

          - os: windows-latest
            compiler: msvc
            generator: "Visual Studio 17 2022"
            build_type: Debug
            enable_ipo: On
            preset: windows-msvc-debug

          - os: windows-latest
            compiler: msvc
            generator: "Visual Studio 17 2022"
            build_type: Release
            enable_ipo: On
            preset: windows-msvc-release

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6
      with:
        submodules: 'recursive' # Useful if vcpkg is a submodule

    - name: Setup Cache
      uses: ./.github/actions/setup_cache
      with:
        compiler: ${{ matrix.compiler }}
        build_type: ${{ matrix.build_type }}
        packaging_maintainer_mode: ${{ matrix.packaging_maintainer_mode }}
        generator: ${{ matrix.generator }}

    - name: Setup C++ environment (optional, but helpful for pre-installed tools)
      # This marketplace action can set up compiler, cmake, ninja, and vcpkg
      uses: aminya/setup-cpp@v1
      with:
        compiler: ${{ matrix.compiler }}
        vcvarsall: ${{ contains(matrix.os, 'windows' )}}
        cmake: true
        ninja: true
        conan: true
        ccache: true

    - name: Detects and creates the default profile
      run: conan profile detect --force

    - name: Install project dependencies
      run: conan install . -s build_type=${{ matrix.build_type }} --build=missing

    - name: Configure CMake
      run: >
        cmake -B "${{ github.workspace }}/build"
        -S "${{ github.workspace }}"
        -G "${{ matrix.generator }}"
        -DCMAKE_BUILD_TYPE:STRING=${{ matrix.build_type }}
        -D${{ env.PROJECT_NAME }}_PACKAGING_MAINTAINER_MODE:BOOL=${{ matrix.packaging_maintainer_mode }}
        -D${{ env.PROJECT_NAME }}_ENABLE_COVERAGE:BOOL=${{ matrix.build_type == 'Debug' }}
        -DCMAKE_TOOLCHAIN_FILE="${{ github.workspace }}/build/${{ matrix.build_type }}/generators/conan_toolchain.cmake"
        --preset ${{ matrix.preset }}

    - name: Build project
      run: cmake --build "${{ github.workspace }}/build" --config ${{ matrix.build_type }}

    - name: Run tests
      run: ctest --test-dir "${{ github.workspace }}/build"
